<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="CoreM5 Theme Startup Company Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="static/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="New CoreM5 Theme HTML Template - Download Now!">


    <title>SmartEd</title>
    <link rel="stylesheet" href="static/assets/web/static/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="static/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="static/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="static/assets/theme/css/style.css">
    <link rel="stylesheet" href="static/assets/recaptcha.css">
    <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="static/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="static/assets/mobirise/css/mbr-additional.css" type="text/css">
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>



</head>

<body>

    <section data-bs-version="5.1" class="corem5 menu menu1 cid-tw6EyD3iLH" once="menu" id="menu01-1">

        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="static/assets/images/logo.png" style="height: 4rem;">
                        </a>
                    </span>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                    data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-white show display-7" href="#"
                                aria-expanded="true">Home</a></li>
                        <li class="nav-item"><a class="nav-link link text-white display-7"
                                href="#">Features</a>
                        </li>
                    </ul>

                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-lg btn-primary display-4"
                            href="#">Contact</a></div>
                </div>
            </div>
        </nav>
    </section>

    <section data-bs-version="5.1" class="corem5 features8 cid-tw6EnqpuLx" id="features08-0">





        <div class="container-fluid" style="position: relative;">
            <div class="row m-auto align-left">

                <div class="col-lg-6 m-auto content">
                    <div class="title col-md-12 align-left col-lg-">
                        <br><br><br><br><br>
                        <h3 class="mbr-section-title mbr-fonts-style align-left mb-4 display-1">SmartEd
                        </h3>
                        <h2 class="mbr-section-cardtitle mbr-fonts-style mb-3 display-2">Ease of Education at your fingertip <br>
                        </h2>

                        <!-- <div class="mbr-section-btn align-left"><a class="btn btn-primary-outline display-5"
                                
                        </div> -->
                        <div class="mbr-section-btn align-left"><a class="btn btn-primary-outline display-5" href="{{ url_for('login') }}">Login</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-border">
                    <div class="row">
                        <div class="col-12 align-left">

                            <div class="iconfont-wrapper">
                                <span class="mbr-iconfont mobi-mbri-code mobi-mbri"></span>
                            </div>
                            <img src="/static/assets/images/ai-generator-9829155-8000977.webp" style="height: 250px; width: 250px;">


                        </div>


                        <div class="col-12 col-lg-9">
                            <h2 class="mbr-section-cardtitle mbr-fonts-style mb-3 display-2">Leverage the power of Gen AI<br>
                            </h2>


                        </div>

                    </div>

                </div>




            </div>
        </div>
    </section>


    <section data-bs-version="5.1" class="corem5 features7 cid-tw6EDuQPJl" id="features07-2">

        <div class="container">

            <div class="col-12">
                <h1 class="mbr-section-maintitle mbr-fonts-style pb-5 mb-5 display-2"><strong>WHAT WE CAN DO</strong>
                </h1>

            </div>
            <div class="row item align-left">
                <div class="col-12 col-md col-lg-5">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-5"><strong>VIDEO SUMMARIZER:</strong>
                    </h5>
                </div>
                <div class="col-md-12 col-lg-4">
                    <p class="mbr-text mbr-fonts-style display-4">Taking up the text from the youtube video and summarizing it using the models of PALM API</p>
                </div>
                <div class="col-12">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row item align-left">
                <div class="col-12 col-md col-lg-5">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-5"><strong>NOTES READER:</strong>
                    </h5>
                </div>
                <div class="col-md-12 col-lg-4">
                    <p class="mbr-text mbr-fonts-style display-4">Reading out will be helpful for those who are more into listening activities.
                    </p>
                </div>
                <div class="col-12">
                    <div class="line"></div>
                </div>
            </div>

            <div class="row item align-left">
                <div class="col-12 col-md col-lg-5">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-5">
                        <strong>PDF NOTES SUMMARIZER:</strong></h5>
                </div>
                <div class="col-md-12 col-lg-4">
                    <p class="mbr-text mbr-fonts-style display-4">Consider extracting the most important information from each page or section of the PDF.</p>
                </div>
                <div class="col-12">
                    <div class="line"></div>
                </div>
            </div>

            <div class="row item align-left">
                <div class="col-12 col-md col-lg-5">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-5"><strong>HANDWRITTEN NOTES TO TEXT:</strong>
                    </h5>
                </div>
                <div class="col-md-12 col-lg-4">
                    <p class="mbr-text mbr-fonts-style display-4">OCR can be used to convert handwritten notes into digital text.</p>
                </div>
                <div class="col-12">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row item align-left">
                <div class="col-12 col-md col-lg-5">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-5"><strong>FLOWCHART MAKER:</strong>
                    </h5>
                </div>
                <div class="col-md-12 col-lg-4">
                    <p class="mbr-text mbr-fonts-style display-4">This could involve natural language understanding (NLU) to parse text and extract key concepts or relationships.
                    </p>
                </div>
                <div class="col-12">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="corem5 features7 cid-tw6EF0ZgbT" id="features03-3">


        <div class="container-fluid">

            <div class="row mt-4">

                <div class="item features-image">
                    <div class="item-wrapper" >
                        <div class="item-img" >
                            <img src="static/assets/images/maxresdefault.jpg" style="height: 800px; width: 1500px;">
                        </div>
                        <div class="item-content">
                            <div class="d-flex">
                                <h5 class="item-title mbr-fonts-style display-5">Generative AI Models with Google's PALM API</h5>
                                <!-- <h6 class="item-subtitle mbr-fonts-style display-5">Development&nbsp;</h6> -->
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

       <section data-bs-version="5.1" class="form form1 cid-tw6EIudEv3" id="form01-4">


        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mbr-section-title align-left mbr-fonts-style mb-3 display-1">Contact Us</h2>
                </div>
                <div class="col-lg-12 mx-auto form-border mbr-form" data-form-type="formoid">
                    
                    <form action="#" method="POST" class="mbr-form form-with-styler"
                        data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                            >
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for
                                filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...!
                                some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-lg-6 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                                <input type="text" name="name" placeholder="Name" data-form-field="name"
                                    class="form-control display-7" value="" id="name-form01-4">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                                <input type="email" name="email" placeholder="Email" data-form-field="email"
                                    class="form-control display-7" value="" id="email-form01-4">
                            </div>
                            <div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                                <input type="tel" name="phone" placeholder="Phone" data-form-field="phone"
                                    class="form-control display-7" pattern="*" value="" id="phone-form01-4">
                            </div>
                            <div data-for="message" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                                <textarea name="message" placeholder="Message" data-form-field="message"
                                    class="form-control display-7" id="message-form01-4"></textarea>
                            </div>
                            <div class="col-auto"><button type="submit"
                                    class="w-100 w-100 btn btn-primary display-7">Submit</button></div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="corem5 footer1 cid-tw6EJ3Id6H" id="footer01-5">

        <div class="container-fluid">
            <div class="row justify-content-end align-left">
                <div class="col-12">
                    <a href="mailto:deepraj21.bera@gmail.com">
                        <h5 class="mbr-section-title mbr-fonts-style mb-5 display-1">
                            deepraj21</h5>
                    </a>
                </div>

                <div class="col-lg-6 col-md-12 align-left">
                    <div class="img">
                        <img src="static/assets/images/logo.png">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p class="mbr-section-subtitle mbr-fonts-style mb-4 display-4">Instagram
                        <br>Twitter<br>Whatsapp
                        <br>Linkedin<br>
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <p class="mbr-text mbr-fonts-style display-4">Index
                        <br>Projects
                        <br>Clients
                    </p>
                    <div class="mbr-section-btn align-left"><a class="btn btn-primary-outline display-4"
                            href="#">Get
                            Started</a></div>
                </div>
            </div>
        </div>
    </section>
    <script>

        const config = {
            apiKey: "AIzaSyCS6MzsAo9Aq6QRvRgVJ1rYyiDyCGAEsL6",
            authDomain: "g-contact-smarted.firebaseapp.com",
            databaseURL: "https://g-contact-smarted-default-rtdb.firebaseio.com",
            projectId: "g-contact-smarted",
            storageBucket: "g-contact-smarted.appspot.com",
            messagingSenderId: "356036840004",
            appId: "1:356036840004:web:a0bb31f5adea5de0e7ca11",
            measurementId: "G-707Y2MG55W"
        };

        firebase.initializeApp(config);
        var messagesRef = firebase.database().ref('messages');

        document.getElementById('contactForm').addEventListener('submit', submitForm);

        function submitForm(e) {
            e.preventDefault();

            var name = getInputVal('name');
            var email = getInputVal('email');
            var phone = getInputVal('phone');
            var message = getInputVal('message');

            saveMessage(name, email, phone, message);

            document.querySelector('.alert').style.display = 'block';

            setTimeout(function () {
                document.querySelector('.alert').style.display = 'none';
            }, 3000);

            document.getElementById('contactForm').reset();
        }

        function getInputVal(id) {
            return document.getElementById(id).value;
        }

        function saveMessage(name, email, phone, message) {
            var newMessageRef = messagesRef.push();
            newMessageRef.set({
                name: name,
                email: email,
                phone: phone,
                message: message
            });
        }


    </script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="static/assets/ytplayer/index.js"></script>
    <script src="static/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="static/assets/playervimeo/vimeo_player.js"></script>
    <script src="static/assets/theme/js/script.js"></script>
    <script src="static/assets/formoid.min.js"></script>



</body>

</html>
